[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter-contrib-nbextensions = "*"
qiskit = "*"
master = {editable = true, git = "https://github.com/qiskit-community/IBMQuantumChallenge2020-Grader.git"}
jupyter = "*"
jupyter-nbextensions-configurator = "*"
matplotlib = "*"
pylatexenc = "*"

[requires]
python_version = "3.8"
